<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <display-name>ProjetDAI Web Application</display-name>

  <!-- 配置欢迎页面 -->
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>article</servlet-name>
    <jsp-file>/jsp/article.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>article</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ajouteSuccess</servlet-name>
    <jsp-file>/jsp/ajouteSuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouteSuccess</servlet-name>
    <url-pattern>/ajouteSuccess</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>affichePanier</servlet-name>
    <jsp-file>/jsp/panier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>affichePanier</servlet-name>
    <url-pattern>/affichePanier</url-pattern>
  </servlet-mapping>

<!--  <servlet>-->
<!--    <servlet-name>ServletLogin</servlet-name>-->
<!--    <servlet-class>Servlet.ServletLogin</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>ServletLogin</servlet-name>-->
<!--    <url-pattern>/login</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>ServletPreparateur</servlet-name>-->
<!--    <servlet-class>Servlet.ServletPreparateur</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>ServletPreparateur</servlet-name>-->
<!--    <url-pattern>/Preparateur</url-pattern>-->
<!--  </servlet-mapping>-->




  <servlet>
    <servlet-name>pageLogin</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageLogin</servlet-name>
    <url-pattern>/pageLogin</url-pattern>
  </servlet-mapping>





  <!--  <servlet>-->
<!--    <servlet-name>ServletLogin</servlet-name>-->
<!--    <servlet-class>Servlet.ServletLogin</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>ServletLogin</servlet-name>-->
<!--    <url-pattern>/login</url-pattern>-->
<!--  </servlet-mapping>-->

<!--  <servlet>-->
<!--    <servlet-name>ServletPreparateur</servlet-name>-->
<!--    <servlet-class>Servlet.ServletPreparateur</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>ServletPreparateur</servlet-name>-->
<!--    <url-pattern>/Preparateur</url-pattern>-->
<!--  </servlet-mapping>-->



  <servlet>
    <servlet-name>ValidePanier</servlet-name>
    <jsp-file>/jsp/ValidePanier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidePanier</servlet-name>
    <url-pattern>/ValidePanier</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>confirmation</servlet-name>
    <jsp-file>/jsp/confirmation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>paymentSuccess</servlet-name>
    <jsp-file>/jsp/paymentSuccess.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentSuccess</servlet-name>
    <url-pattern>/paymentSuccess</url-pattern>
  </servlet-mapping>




</web-app>
